In [1]:
# Import dependencies
import pandas as pd

# File to load
vine_data_to_load = "./vine_table.csv"

# Read vine data
vine_df = pd.read_csv(vine_data_to_load)
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R10003I619LWL0,5,1,1,N,N
1,R100078OO83YQB,5,0,0,N,N
2,R10009XH2FY9Q0,5,4,4,N,N
3,R1000EJULTHQ16,5,0,0,N,N
4,R1000GECIM9DZG,5,0,0,N,Y
...,...,...,...,...,...,...
1785992,RZZZDQGRX01W1,5,0,0,N,Y
1785993,RZZZGGBUNXUZ2,5,0,0,N,Y
1785994,RZZZNDQXT8BQS,5,0,0,N,Y
1785995,RZZZU2TD7Q3ET,5,0,0,N,Y
1785996,RZZZYCP48D6MH,5,2,3,N,Y

In [2]:
 # Filter the data and create a new DF to retrieve all rows where total_votes >= 20
helpful_votes_df = vine_df[vine_df['total_votes'] >= 20]
helpful_votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
80,R1005PFAPGMYQS,2,157,197,N,N
124,R1009G1O5COOGR,1,11,31,N,Y
200,R100F8ULLVWYBM,5,40,46,N,N
216,R100GBS8DFUBV,1,42,76,N,N
225,R100HDKWNFPMOD,1,5,21,N,N
...,...,...,...,...,...,...
1785729,RZZ8UZIVQJKE4,2,73,84,N,N
1785731,RZZ91LUSVGGQK,5,45,45,N,N
1785763,RZZCCGXNFBPNV,4,41,48,N,N
1785836,RZZJ5LW34HKU8,1,16,21,N,N
1785951,RZZTUIX1574RC,1,24,24,N,Y

In [3]:
# Create new DF to retrieve all rows where helpful_votes/total_votes >= 50%
# Check data types
helpful_votes_df.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [4]:
Better_helpful_df = helpful_votes_df[helpful_votes_df['helpful_votes'] / helpful_votes_df['total_votes'] >= .50]
Better_helpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
80,R1005PFAPGMYQS,2,157,197,N,N
200,R100F8ULLVWYBM,5,40,46,N,N
216,R100GBS8DFUBV,1,42,76,N,N
227,R100HHRVOO0NWO,1,19,23,N,N
239,R100IW4TJ91L45,2,25,41,N,N
...,...,...,...,...,...,...
1785729,RZZ8UZIVQJKE4,2,73,84,N,N
1785731,RZZ91LUSVGGQK,5,45,45,N,N
1785763,RZZCCGXNFBPNV,4,41,48,N,N
1785836,RZZJ5LW34HKU8,1,16,21,N,N
1785951,RZZTUIX1574RC,1,24,24,N,Y

In [9]:
# Create new DF to retrieve all rows where review was part of Vine program (paid)
vine_paid_df = Better_helpful_df[Better_helpful_df.vine == 'Y']
vine_paid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5723,R10FO5UKKVZBK2,3,23,23,Y,N
9172,R10P2XVXA9DYTO,5,21,25,Y,N
21902,R11O4YSCPSNL6L,3,20,26,Y,N
28388,R12648VHCQWUV9,4,21,28,Y,N
52014,R13Z4M71WMGPPQ,3,26,30,Y,N
...,...,...,...,...,...,...
1657122,RQ5WD90PUNBU9,5,21,24,Y,N
1723625,RV8FVXVWTEAX,4,97,107,Y,N
1734357,RW25NTS59UG55,4,39,43,Y,N
1760013,RY0555ILXIYXW,5,38,50,Y,N
1764111,RYBLWBAL5M1AY,4,68,76,Y,N

In [10]:
# Create new DF to retrieve all rows where review was not part of Vine (unpaid)
vine_unpaid_df = Better_helpful_df[Better_helpful_df.vine == 'N']
vine_unpaid_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
80,R1005PFAPGMYQS,2,157,197,N,N
200,R100F8ULLVWYBM,5,40,46,N,N
216,R100GBS8DFUBV,1,42,76,N,N
227,R100HHRVOO0NWO,1,19,23,N,N
239,R100IW4TJ91L45,2,25,41,N,N
...,...,...,...,...,...,...
1785729,RZZ8UZIVQJKE4,2,73,84,N,N
1785731,RZZ91LUSVGGQK,5,45,45,N,N
1785763,RZZCCGXNFBPNV,4,41,48,N,N
1785836,RZZJ5LW34HKU8,1,16,21,N,N
1785951,RZZTUIX1574RC,1,24,24,N,Y

In [11]:
# Determine total number of reviews, number of 5-star reviews, and percentage of 5-star reviews for paid and unpaid reviews
# Total number of reviews
len(vine_df)

1785997

In [12]:
# Total number of 5-star reviews
len(vine_df[vine_df['star_rating'] == 5])

1026924

In [13]:
# Total number of Vine (paid) 5-star reviews
len(vine_paid_df[vine_paid_df['star_rating'] == 5])

48

In [14]:
# Percentage of Vine (paid) 5-star reviews
len(vine_paid_df[vine_paid_df['star_rating'] == 5]) / len(vine_paid_df) * 100

51.06382978723404

In [15]:
# Total number of unpaid 5-star reviews
len(vine_unpaid_df[vine_unpaid_df['star_rating'] == 5])

15663

In [16]:
# Percentage of unpaid 5-star reviews
len(vine_unpaid_df[vine_unpaid_df['star_rating'] == 5]) / len(vine_unpaid_df) * 100

38.701786464381904